.modal__header {
    font-size: 3em;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
}

@media screen and (max-width: 680px) {
    .modal__header {
        font-size: 2em;
    }
}

@media screen and (max-width: 230px) {
    .modal__header {
        font-size: 1.5em;
    }
}